<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">	
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<title>AjnaConnect Room</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			
			 body 
			{
				width: 100vw;
				height: 100vh;
				margin: 0;
				/* background: black; */
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			} 
					
		</style>
	</head>
	<body>
        <p>Dashboard</p>
		

	</body>
</html>
